name: ussd_admin
description: USSD service admin mobile app
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  dio: ^5.5.0
  google_fonts: ^6.2.1
  shared_preferences: ^2.2.3
  uuid: ^4.4.0
  provider: ^6.1.5+1
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true